/* Estilos generales */
body{
    background-color: #AC4493;    
}

#container{
    width: 40%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 0 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.colorfucsia{
    color: #AC4493;
}

h1,h5{
    text-align: center;
}

label{
    margin: 5px 0 5px;
}

.elementoinput{
    width: 100%;
    border-color: #AC4493;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.botonenviar{
    width: 100%;
    padding: 15px;
    border-width: 1px;
    background-color: #AC4493;
    border-radius: 5px;
    color: white;
}

.obligatorios{
    display: flex;
}

.asterisco{    
    margin: 2px 0px;
}

.asteriscoobligatorio{
    margin-top: 14px !important;
}s

th, td{
    text-align: start;
}

table{
    width: 100%;
    border-spacing: 12px;
}

/* Estilos imagenes */
.imagenredonda{
    border-radius: 100%;
}

.imagen-perfil-centro{    
    display: flexbox;
    text-align: center;    
}

.imagen-logos-centro{    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.logosalesforce{
    width: 100px;
}

.logocmmi{
    width: 160px;
    vertical-align: auto;
}

.logocertificacionessalesforce{
    width: 80px;
}

.logoceiba{
    width: 150px;
    vertical-align: auto;
}
.logoaireambiente{
    width: 80px;
    vertical-align: auto;
}
.logoprime{
    width: 150px;
    vertical-align: auto;
}
.logokyk{
    width: 150px;
    vertical-align: auto;
}

/* iconos de google */
span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
    margin: 20px 0px;
  }

/* Media querys */
@media only screen and (max-width: 800px) {
    #container{
        width: 300px;
        }
}