/* Estilos generales */
body{
    background-color: #AC4493;    
}

#container{
    width: 33%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 0 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
}
.colorfucsia{
    color: #AC4493;
}

h1,h5{
    text-align: center;
}

label{
    margin: 5px 0 5px;
}

.elementoinput{
    width: 100%;
    border-color: #AC4493;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.botonenviar{
    width: 100%;
    padding: 15px;
    border-width: 1px;
    background-color: #AC4493;
    border-radius: 5px;
    color: white;
}

.obligatorios{
    display: flex;
}

.asterisco{    
    margin: 2px 0px;
}

.asteriscoobligatorio{
    margin-top: 14px !important;
}

.inicio{
    margin-bottom: 5px;
}

/* iconos de google */
span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
  }